html {
	background-color:
	text-align: center;
}

h1 {
	font-family: 'Rock Salt', cursive;
	text-align: center;
	border-style: solid;
	border-top: thick;
}

p {
	text-align: center;
	font-family: 'Droid Sans Mono' ;
}


.withfadeout {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.withfadeout:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.greydout {
	-webkit-opacity: 0.5;
  	-moz-opacity: 0.5;
 	opacity: 0.5;
}

.greydout:hover {
	-webkit-opacity: 1;
  	-moz-opacity: 1;
  	opacity: 1;
}

h4 {
	text-align: center;
	font-family: 'Droid Sans Mono';
}

.left {
	position: absolute;
	left: 0px;
	margin-left: 0px;
}

.right {
    position:absolute;
    right:0px;
	margin-right: 50px;	
}

.center{
  position: absolute;
  left: 50%;
  margin-left: -185px;
}











